[submodule "minetest"]
	path = minetest
	url = https://github.com/CivtestGame/minetest
	branch = .
	ignore = all
[submodule ".minetest/games/civtest_game"]
	path = .minetest/games/civtest_game
	url = https://github.com/CivtestGame/civtest_game
	branch = .
	ignore = all
